@model IEnumerable<Infraestructure.Model.Collection>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/Content/Site.css" />



</head>

<body>


    <!--Container-->
    <div class="mt-5">








        @foreach (var item in Model)
        {
            <!--Card-->
        <div class="p-8 mt-5 lg:mt-0 rounded shadow bg-white mb-2">
            <div class="grid  mb-3">
                <span class="mb-1"><strong>Name</strong></span>
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="grid mb-5">
                <span class="mb-1"><strong>Description</strong></span>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="grid mb-5">
                <span class="mb-1"><strong>Total</strong></span>
                $ @Html.DisplayFor(modelItem => item.Total)
            </div>
            <div class="flex gap-4 ">
                
                <button class="font-medium rounded-lg text-sm px-5 py-2.5 text-center shadow" style="background-color: #42b883">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </button>
                <button class="font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-red-400 shadow">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </button>
            </div>
        </div>




        }


    </div>

</body>

</html>

