@model IEnumerable<Infraestructure.Model.Resident>

@{
    ViewBag.Title = "Index";
    ViewBag.residents = Model;



}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataTables </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="~/Content/DataTable/styles.css" rel="stylesheet" />
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />





</head>

<body>


    <!--Container-->
    <div class="mt-5" style="margin-right:2rem; overflow:hidden">




        <!--Card-->
        <div class="p-8 mt-5 lg:mt-0 rounded shadow bg-white">


            <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead>
                    <tr>
                        <th data-priority="1">Email</th>
                        <th data-priority="2">House Number</th>
                        <th data-priority="3">Name</th>
                        <th data-priority="4">Last Name</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                            <td class="flex gap-4">
                    
                                <button class="mx-auto">
                                    <svg viewBox="0 0 512 512" height="20">
                                        <path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C6504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" />
                                    </svg>
                                    @Html.ActionLink("Pending", "Pending", new { id = item.Id })

                                </button>
                                <button class="mx-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 576 512"><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" /></svg>
                                    @Html.ActionLink("Cancelled", "Cancelled", new { id = item.Id })

                                </button>
                                <button class="mx-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 448 512"><path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z" /></svg>
                                    @Html.ActionLink("PDF", "PDF", new { id = item.Id })

                                </button>

                            </td>

                        </tr>


                    }
                </tbody>

            </table>


        </div>
        <!--/Card-->


    </div>
    <!--/container-->
    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/DataTable/js/jquery-3.4.1.min.js"></script>

    @*Datatables*@
    <script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable/js/dataTables.responsive.min.js"></script>



    <script>
        $(document).ready(function () {

            var table = $('#example').DataTable({
                responsive: true

            })
                .columns.adjust()
                .responsive.recalc();
        });
    </script>

</body>

</html>

