@model IEnumerable<Infraestructure.Model.Resident>

@{
    ViewBag.Title = "Index";
    ViewBag.residents = Model;



}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataTables </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="~/Content/DataTable/styles.css" rel="stylesheet" />
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />





</head>

<body>


    <!--Container-->
    <div class="mt-5" style="margin-right:2rem; overflow:hidden">




        <!--Card-->
        <div class="p-8 mt-5 lg:mt-0 rounded shadow bg-white">


            <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead>
                    <tr>
                        <th data-priority="1">Email</th>
                        <th data-priority="2">House Number</th>
                        <th data-priority="3">Name</th>
                        <th data-priority="4">Last Name</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                            <td class="flex gap-4">
                    
                                <button class="mx-auto">
                                    <svg height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 64H32C14.33 64 0 78.33 0 96v320c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V96c0-17.67-14.33-32-32-32zM48 400v-64c35.35 0 64 28.65 64 64H48zm0-224v-64h64c0 35.35-28.65 64-64 64zm272 176c-44.19 0-80-42.99-80-96 0-53.02 35.82-96 80-96s80 42.98 80 96c0 53.03-35.83 96-80 96zm272 48h-64c0-35.35 28.65-64 64-64v64zm0-224c-35.35 0-64-28.65-64-64h64v64z" /></svg>
                                    @Html.ActionLink("Pending", "Pending", new { id = item.Id })

                                </button>
                                <button class="mx-auto">
                                    <svg height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z" /></svg>
                                    @Html.ActionLink("Cancelled", "Cancelled", new { id = item.Id })

                                </button>
                                <button class="mx-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 384 512"><path d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z" /></svg>
                                    @Html.ActionLink("PDF", "PDF", new { id = item.Id })

                                </button>

                            </td>

                        </tr>


                    }
                </tbody>

            </table>


        </div>
        <!--/Card-->


    </div>
    <!--/container-->
    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/DataTable/js/jquery-3.4.1.min.js"></script>

    @*Datatables*@
    <script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable/js/dataTables.responsive.min.js"></script>



    <script>
        $(document).ready(function () {

            var table = $('#example').DataTable({
                responsive: true

            })
                .columns.adjust()
                .responsive.recalc();
        });
    </script>

</body>

</html>

