@model List<Infraestructure.Model.SocialArea>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

    <div class="grid grid-cols-2 gap-4 justify-center">
        @foreach (Infraestructure.Model.SocialArea item in Model)
        {
            <div>
                <article class="mb-4  p-6 rounded-xl flex flex-col bg-clip-border  w-10/12" style="background: #35495e">

                    <h2 class="text-3xl font-extrabold text-white text-center">
                        @item.Name
                    </h2>
                    <div class="py-4">
                        <div>
                            <img class="rounded-xl text-center mx-auto center" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Image)"
                                 alt="Image ALT" style="height:150px; width:300px" />
                        </div>
                    </div>



                    <p class="text-slate-200 mb-5 text-center">

                        @item.Description
                    </p>

                    <div class="container">
                        <h3><strong>Schedule</strong></h3>
                        <span>@item.Schedule.OpenHour - @item.Schedule.ClosedHour</span>
                        <div>
                            <br />

                            <div class="w-6/12">
                                <h3><strong>Days</strong></h3>
                                <div class="relative">
                                    <table class="w-full text-sm text-left text-white rounded">
                                        <thead class="text-xs text-white uppercase">
                                            <tr>
                                                <th scope="col" class="px-3 py-1">
                                                    L
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    K
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    M
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    J
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    V
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    S
                                                </th>
                                                <th scope="col" class="px-3 py-1">
                                                    D
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class=" text-center">
                                                <td>
                                                    @if (item.Schedule.Monday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.Schedule.Tuesday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>


                                                <td>
                                                    @if (item.Schedule.Wednesday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.Schedule.Thursday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.Schedule.Friday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.Schedule.Saturday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Schedule.Sunday)
                                                    {

                                                        <span>✅</span>

                                                    }
                                                    else
                                                    {
                                                        <span>❌</span>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                    <button class="font-medium rounded-lg text-sm px-5 py-2.5 text-center btn-green-color shadow">
                        @Html.ActionLink("Check Availability", "Book", new { id = item.Id })
                    </button>
                </article>
            </div>

        }


    </div>